body {
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px #474747;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.top {
    display: flex;
    justify-content: space-between;
}

h1.time {
    text-align: center;
}

.crypto {
    display: flex;
    align-items: flex-start;
    /* Align logo and text content at the top */
}

.crypto img {
    margin-right: 10px;
    /* Space between the logo and the text */
}

.crypto-details {
    display: flex;
    flex-direction: column;
    /* Stack crypto name and details vertically */
}

.crypto-top {
    margin-top: 5px;
    /* Space between the crypto name and additional details */
}